{% extends 'base.html' %}

{% block header %}
  <!-- header start -->
  <div class="header" id="header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="image-container">
            <img class="img-fluid" src="static/images/header-logo.svg" alt="header-logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-container ">
            <h3>We offer complete ecommerce <br> solutions based on Shopify</h3>
            <a class="btn-solid-lg page-scroll mt-4" href="#details">Discover</a>
          </div> <!-- end of text-container -->
        </div>
      </div>
    </div> <!-- container end -->

    <div class="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-image">
                <i class="fas fa-rocket"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Branding & strategy</h5>
                <div class="card-text">To Build a solid foundation for your online shop you need a strong brand and a
                  bulletproof strategy</div>
              </div>
            </div>
            <!-- card end -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-pencil-ruler"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Design & development</h5>
                <div class="card-text">Our team of competent designers and developers are able to create beautiful
                  designs and structured code</div>
              </div>
            </div>
            <!-- card end -->

            <!-- Card -->
            <div class="card">
              <div class="card-image">
                <i class="fas fa-chart-pie"></i>
              </div>
              <div class="card-body">
                <h5 class="card-title">Digital marketing</h5>
                <div class="card-text">We can deliver a comprehensive marketing plan and then execute it down to the
                  smallest details</div>
              </div>
            </div>
            <!-- card end -->
          </div>
        </div>
      </div><!-- container end -->
    </div> <!--Services end -->
  </div> <!-- Header end -->
{% endblock header %}
{% block body %}

  <!-- Detail -->
  <div class="detail" id="deatils">
    <div class="container-fluid ">
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6 col-xl-5">
          <div class="text-container ">
            <h2>Branding & strategy</h2>
            <hr class="hr-line">
            <p>To build a solid foundation for your online shop you need a strong brand and a bulletproof
              strategy. You can rely on our experience to create a beautiful and efficient online shop</p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">

                <div class="media-body"> <i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Delivering powerful brands
                  for popular shops</div>
              </li>
              <li class="media">
                <div class="media-body"><i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Creating beautiful concepts
                  and evocative logos</div>
              </li>
              <li class="media">
                <div class="media-body"><i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Preparing complete branding
                  guides and styles</div>
              </li>
              <li class="media">
                <div class="media-body"><i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Speedy delivery of
                  marketing design assets</div>
              </li>
            </ul>
          </div>
        </div>
        <div class=" col-md-12 col-lg-6 col-xl-5">
          <div class="img-container">
            <img src="static/images/details-1.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail 2 -->
  <div class="detail-2">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="img-dt-2">
            <div class="image-container">
              <img src="static/images/details-2.jpg" alt="" class="img-fluid">
            </div>
          </div> <!-- end of img-dt-2 -->
        </div>
        <div class="col-md-11">
          <div class="text-dt-2">
            <div class="text-container">
              <h2>Design & development</h2>
              <hr class="hr-line">
              <p>Our team of competent designers and developers are able to create beautiful designs and structured code
                that will serve your ecommerce project to establish your market position and increase revenues</p>
              <a class="lightbox-btn mt-3" href="#details">Lightbox</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of detail 2 -->

  

  <!-- Deatil-3 -->
  <div class="detail-3 ">
    <div class="container-fluid ">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-xl-4">
          <div class="text-container ">
            <h2>Digital marketing</h2>
            <hr class="hr-line">
            <p>We can deliver a comprehensive marketing plan and then execute it down to the smallest details. Our
              marketing specialist will also conduct evaluations regularly and advise you</p>
            <ul class="list-unstyled li-space-lg">
              <li class="media">

                <div class="media-body"> <i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Marketing plan for 6
                  months with evaluation</div>
              </li>
              <li class="media">
                <div class="media-body"><i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Remarketing campaigns to
                  reduce cart abandon</div>
              </li>
              <li class="media">
                <div class="media-body"><i class="fas fa-square"></i>&nbsp;&nbsp;&nbsp;&nbsp;Loyalty programs for your
                  favorite clients</div>
              </li>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="img-container">
            <img src="static/images/details-3.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- basic-4 -->
  <div class="detail-4">
    <div class="container">
      <div class="row">
        <div class="text-container">
          <h4>Our mission is to deliver reliable ecommerce solutions together with the necessary consulting and
            marketing services which will help customers achieve long term market stability</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="strengths " id="Strengths">
    <div class="container">
      <div class="row justify-content-center slider-row">
        <div class="col-lg-8">
          <ul class="list-unstyled li-space-lg">
            <li class="media">
              <div class="bullet">1</div>
              <div class="media-body">
                <h4>Specialized expertise</h4>
                <p>We've been deploying successful online shops for about 10 year and we've made it our mission to
                  provide the best Shopify development services in the industry. Besides the shop itself we also provide
                  branding and strategy services to create solid foundations our customers online projects</p>
              </div>
            </li>
            <li class="media">
              <div class="bullet">2</div>
              <div class="media-body">
                <h4>Shopify partner</h4>
                <p>Our partnership with Shopify enables us to stay on top of all platform updates and prepare them for
                  installation in your own online store. We're in permanent communication with the Shopify design and
                  development team so we can solve any difficult situations that can occur after major updates</p>
              </div>
            </li>
            <li class="media">
              <div class="bullet">3</div>
              <div class="media-body">
                <h4>Timely delivery</h4>
                <p>We take pride in delivering projects before the deadline to extend the pre-launch testing period.
                  This ensures a smooth user experience and it also helps with bringing visitors back. You can check out
                  or <a class="red page-scroll" href="#projects">projects section</a> below to hear straight from our
                  customers what they think about us</p>
              </div>
            </li>
          </ul>
        </div> <!-- end of col div -->
      </div>
    </div>
  </div>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="slider">
          <div class="container-fluid">
            <div class="row justify-content-center" class="slide-container">
              <div class="col-lg-5">
                <div class="image-container">
                  <img class="img-fluid" src="static/images/project-2.jpg" alt="alternative">
                </div> <!-- end of image-container -->
              </div>
              <div class="col-lg-5">
                <div class="text-container">
                  <h4>Shopify ecommerce site</h4>
                  <p>We were proud to partner with Online Retailer in order to create a modern online store where
                    customers can purchase some of the best items from the market at affordable prices</p>
                  <p class="testimonial-text">"I am happy to have chosen Spify for our Shopify implementation. Their
                    specialized experience helped the project and made it available 2 weeks prior the launch date for
                    extensive testing"</p>
                  <div class="testimonial-author">Ronnie Blake - Sales Manager</div>
                </div> <!-- end of text-container -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <div class="slider">
          <div class="container-fluid">
            <div class="row justify-content-center" class="slide-container">

              <div class="col-lg-5">
                <div class="image-container">
                  <img class="img-fluid" src="static/images/project-3.jpg" alt="alternative">
                </div> <!-- end of image-container -->
              </div>
              <div class="col-lg-5">
                <div class="text-container">
                  <h4>Online fashion shop</h4>
                  <p>We were proud to partner with Online Retailer in order to create a modern online store where
                    customers
                    can purchase some of the best items from the market at affordable prices</p>
                  <p class="testimonial-text">"I am happy to have chosen Spify for our Shopify implementation. Their
                    specialized experience helped the project and made it available 2 weeks prior the launch date for
                    extensive testing"</p>
                  <div class="testimonial-author">Nicole Richter - Development Manager</div>
                </div> <!-- end of text-container -->
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="slider">
          <div class="container-fluid">
            <div class="row justify-content-center" class="slide-container">
              <div class="col-lg-5">
                <div class="image-container">
                  <img class="img-fluid" src="static/images/project-1.jpg" alt="alternative">
                </div> <!-- end of image-container -->
              </div>
              <div class="col-lg-5">
                <div class="text-container">
                  <h4>Online retailer shop</h4>
                  <p>We were proud to partner with Online Retailer in order to create a modern online store where
                    customers can purchase some of the best items from the market at affordable prices</p>
                  <p class="testimonial-text">"I am happy to have chosen Spify for our Shopify implementation. Their
                    specialized experience helped the project and made it available 2 weeks prior the launch date for
                    extensive testing"</p>
                  <div class="testimonial-author">Michael Smith - General Manager</div><!-- end of text-container -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" class="slider-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>

    <!-- detail-6 -->

    <div class="detail-6" id="About">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10 container-dt-6">
            <div class="text-container">
              <h2>About our team</h2>
              <p>We are a group of designers, developers and marketers specialized in the Shopify platform. We've
                launched many stores in 10 years</p>
              <ul class="list-unstyled li-space-lg">
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">We love what we do and have a lot of passion</div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">Shopify is our go to platform for online shops</div>
                </li>
                <li class="media">
                  <i class="fas fa-square"></i>
                  <div class="media-body">We are Shopify partners for about 5 years</div>
                </li>
              </ul>
            </div>
            <div class="img-container">
              <img class="img-fluid" src="static/images/about.jpg" alt="alternative">
            </div>
          </div> <!-- col end -->
        </div>
      </div>
    </div>


    <!-- detail-7 -->

    <div class="detail-7">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-12">
            <h4>We invite you to book a consultation call with one of our Key <br> Account Managers and we guarantee it
              will not be a waste of time</h4>
            <a class="btn-dt-7 page-scroll" href="#contact">Book Consultation</a>
          </div>
        </div>
      </div>
    </div>


    <!-- Contact -->
    <div id="contact" class="form-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Book consultation</h2>
            <p class="p-heading">Don't hesitate to give us a call or just use the contact form below</p>
            <ul class="list-unstyled li-space-lg">
              <li><i class="fas fa-map-marker-alt"></i> &nbsp;22 Innovative, San Francisco, CA 94043, US</li>
              <li><i class="fas fa-phone"></i> &nbsp;<a href="tel:00817202212">+81 720 2212</a></li>
              <li><i class="fas fa-envelope"></i> &nbsp;<a href="mailto:contact@site.com">contact@site.com</a></li>
            </ul>
          </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">

            <!-- Contact Form -->
            <form id="contactForm" method="post" >
            {% csrf_token %}
              <div class="form-group"  >
                <input type="text" for="name" class="form-control-input" name="name" id="cname" placeholder="Name" required>

              </div>
              <div class="form-group">
                <input type="email" for="email" class="form-control-input" name="email" id="cemail" placeholder="Email" required>

              </div>
              <div class="form-group">
                <button type="submit" class="form-control-submit-button">Submit</button>
              </div>
            </form>
            <!-- end of contact form -->

          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of contact -->

{% endblock body %}